@{
    ViewData["Title"] = "Chart Admin";
    Layout = "_LayoutAdmin";
}

<div class="row d-felx justify-content-center">
    <div class="col mb-4">
        <div>
            <h2 class="text-center">Cek Chart</h2>
        </div>
    </div>
</div>
<div class="row d-felx justify-content-center">
    <div class="col-5">
        <h3 class="text-center">Chart Univ</h3>
        <div id="barChartUniv">
        </div>
    </div>
    <div class="col-5">
        <h3 class="text-center">Chart Gender</h3>
        <div id="pieChartGender">
        </div>
    </div>
</div>