.jumbotron {
  background-image: url("https://c4.wallpaperflare.com/wallpaper/9/769/210/pikachu-pokemon-wallpaper-preview.jpg");
  background-size: cover;
  height: 450px;
  opacity: 0.7;
}

.jumbotron h1 {
  color: darkslategrey;
}

.gambar_pokemon {
  width: 360px;
}

.progress {
  height: 23px;
}

.kotak_tab {
  background-color: #ffeeb0;
}

.text_abilities {
  margin-top: 39% !important;
}

#lingkaran_abl {
  background-color: #f4a3a3;
}
