/* div {
  border: 1px solid black;
} */
.isi_konten {
  margin-top: 100px;
}

.navbar {
  background-color: #ffdfd3;
}

footer {
  background-color: #fec8d8;
}

.footer-copyright {
  background-color: #957dad;
}

.gambar_pokemon {
  width: 360px;
}

.progress {
  height: 23px;
}
