@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Hello, world!</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link" href="#">Features</a>
                        <a class="nav-item nav-link" href="#">Pricing</a>
                        <a class="nav-item nav-link disabled" href="#">Disabled</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!-- isi Konten -->
    <div class="container isi_konten">
        <div class="row">
            <div class="col">
                <p class="align-middle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste dignissimos ullam sapiente fugiat vel in commodi provident excepturi magni libero eum neque earum consequatur tempore, id consequuntur maiores deleniti consectetur.</p>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col" id="konten2">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem deleniti iste rem odio aperiam quasi vel! Voluptate aspernatur ducimus eum nostrum. Vitae esse numquam quaerat repudiandae labore quas iusto voluptas?</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt similique nulla animi saepe dolores. Accusamus, officia. Ab velit eveniet pariatur, quod autem ut hic omnis aspernatur voluptate. Error, dolor architecto?</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <button type="button" class="btn btn-lg mt-3" id="btn_ubah">Button</button>
            </div>
        </div>
        <div class="row">
            <div class="col" style="height: 2000px;">

            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="page-footer fixed-bottom">
        <div class="container justify-content-center text-center align-items-center">
            <div class="row">
                <div class="col ">
                    <p class="">Ini Footer</p>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <p>MCC 63 Net</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>Reo Sahobby</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center py-1">
            © 2022 Copyright:
            <a href="/"> MDBootstrap.com</a>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <script src="~/js/effect.js" asp-append-version="true"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
